.dialog-ctn
    .dialog-overlay
    .dialog.dialog-lg#sign-in-dialog
        .close &times;
        .pages
            .active(tab-name="sign-up")
                .heading
                    span.site #{config.siteName}
                    h1 Payment
                    p.subhead Let's make your artwork alive
                if !config.maintenance || config.maintenance.allowSignups
                    div.form-row.flex.center
                      label(for="pixelsOrder") Pixels
                      input.form-control#pixelsOrder(type="number", value=10, placeholder="Pixels", name="pixels", disabled)
                    div.form-row.flex.center
                      label(for="priceOrder") Price in wei
                      input.form-control#priceOrder(type="number", value=10, placeholder="0 WEI", name="price", disabled)
                    div.flex#paymentMethods
                      div.is-12.mr-1.is-hidden-touch
                        p.subhead
                          | Open your&nbsp;
                          a(href="https://play.google.com/store/apps/details?id=com.liquiditynetwork.wallet", target="_blank") Liquidity Mobile Wallet (Android)
                          |  to submit this wonderful piece of art of yours
                        div.flex.center
                          canvas#transactionQRCode
                      div.is-12.ml-1.is-hidden-desktop
                        p.subhead
                          | If you already have a liquidity wallet configure on&nbsp;
                          a(href="https://play.google.com/store/apps/details?id=com.liquiditynetwork.wallet", target="_blank") your mobile
                          | , you can click here
                        div.flex.center.mt-1
                          button#mobileWalletQuery.btn.btn-popping.btn-lg.is-12(type="submit", onclick="alert('Not implemented yet')") Web Wallet
                    div.hidden#paymentSuccess
                        br
                        div.alert.alert-success
                            h4 Your order has been processed properly
                else
                    br
                    div.alert.alert-danger
                        h4 Signing up for #{config.siteName} is currently disabled.
                        if config.maintenance.notice
                            p !{config.maintenance.notice}
