.dialog-ctn
    .dialog-overlay
    .dialog#sign-in-dialog
        .close &times;
        .pages
            .active(tab-name="sign-up")
                .heading
                    span.site #{config.siteName}
                    h1 Payment
                    p.subhead Let's make your artwork alive
                if !config.maintenance || config.maintenance.allowSignups
                    label(for="pixelsOrder") Pixels
                    input.form-control#pixelsOrder(type="text", autocomplete="pixels", placeholder="Pixels", name="pixels", autofocus, autocorrect="off", autocapitalize="off", spellcheck="false", disabled)
                    label(for="priceOrder") Price
                    input.form-control#priceOrder(type="text", autocomplete="price", placeholder="0 WEI", name="price", autofocus, autocorrect="off", autocapitalize="off", spellcheck="false", disabled)
                    p.subhead
                      | Open your&nbsp
                      a(href="https://mobile.achievement.network") Liquidity Mobile Wallet
                      |  to submit this wonderful piece of art of yours
                    h4.qrcode QR Code here (5 destinations(3*41), amount(32), currency(3), uuid(16), custom field==hash(32))
                else
                    br
                    div.alert.alert-danger
                        h4 Signing up for #{config.siteName} is currently disabled.
                        if config.maintenance.notice
                            p !{config.maintenance.notice}
